In [2]:
import os
import glob
import psycopg2 as pg
from psycopg2 import extras
from psycopg2 import sql
import pandas as pd 
# import modin.pandas as pd
import nltk
import re
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sqlalchemy import create_engine
import swifter

sid = SentimentIntensityAnalyzer()
import datetime
exitFlag = 0

# os.environ["MODIN_ENGINE"] = "ray"  # Modin will use Ray
# os.environ["MODIN_ENGINE"] = "dask"  # Modin will use Dask

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/docker_worker/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [3]:
config = {
    'host' : 'postgres',
    'user' : 'postgres',
    'password' : 'tuturu123',
    'dbname' : 'pdt2021_tweets'
}

conn = pg.connect(**config)
cursor = conn.cursor()
tableName = 'test_table'

queryText = '''select DISTINCT tw.id, tw.content from hashtags as h 
	INNER join tweet_hashtags as th 	on th.hashtag_id = h.id
	INNER join tweets as tw 		    on tw.id = th.tweet_id
	WHERE h.value ilike any(array['%%DeepstateVirus%%',
'%%DeepStateVaccine%%',
'%%DeepStateFauci%%',
'%%QAnon%%',
'%%Agenda21%%',
'%%CCPVirus%%',
'%%ClimateChangeHoax%%',
'%%GlobalWarmingHoax%%',
'%%ChinaLiedPeopleDied%%',
'%%SorosVirus%%',
'%%5GCoronavirus%%',
'%%MAGA%%',
'%%WWG1WGA%%',
'%%Chemtrails%%',
'%%flatEarth%%',
'%%MoonLandingHoax%%',
'%%moonhoax%%',
'%%illuminati%%',
'%%pizzaGateIsReal%%',
'%%PedoGateIsReal%%',
'%%911truth%%',
'%%911insidejob%%',
'%%reptilians%%' 
]);'''


a = datetime.datetime.now()
print("Zaciatok vyberu")
cursor.execute(queryText)
record = cursor.fetchall()
print("Koniec vyberu")
b = datetime.datetime.now()
c = b - a
print(c.seconds, "seconds")
print("Zaciatok prehadzovania na DF")
df = pd.DataFrame(record, columns=[
'id',
'content'
])
print("Koniec prehadzovania na DF")

Zaciatok vyberu
Koniec vyberu
50 seconds
Zaciatok prehadzovania na DF
Koniec prehadzovania na DF

In [5]:
hastag_pattern = re.compile("#([a-z-A-Z])\w+")
mentions_pattern = re.compile("@([a-z-A-Z])\w+")
emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+")

def remove_shit(row):
    text = row['content']
    
    # remove hastags
    row['content'] = hastag_pattern.sub(r'', row['content'])
    
    # remove metions
    row['content'] = mentions_pattern.sub(r'', row['content'])

    # remove emotikons
    row['content'] = emoji_pattern.sub(r'', row['content'])
    
    return row

def calculate_sentiment(row):
    text = row['content']
    sentiment = sid.polarity_scores(text)
    row['neg'] = sentiment['neg']
    row['neu'] = sentiment['neu']
    row['pos'] = sentiment['pos']
    row['compound'] = sentiment['compound']  
    return row
    
# https://docs.python.org/3/library/multiprocessing.html
print("Zaciatok vymazania #@ a :)")
a = datetime.datetime.now()
df = df.swifter.apply(remove_shit, axis=1)
print("Koniec vymazania #@ a :)")
b = datetime.datetime.now()
c = b - a
print(c.seconds, "seconds")
print("Zaciatok kalkulacie sentimentu")
a = datetime.datetime.now()
df = df.swifter.apply(calculate_sentiment, axis=1) # netreba swifter
b = datetime.datetime.now()
c = b - a
print(c.seconds, "seconds")
print("Koniec kalkulacie sentimentu")

Zaciatok vymazania #@ a :)

Dask Apply:   0%|          | 0/16 [00:00<?, ?it/s]

Koniec vymazania #@ a :)
138 seconds
Zaciatok kalkulacie sentimentu

Dask Apply:   0%|          | 0/16 [00:00<?, ?it/s]

Koniec kalkulacie sentimentu

In [10]:
# df = df.drop(['test'], axis = 1)

print(df.iloc[0])

id                                        1034289685227614208
content     \nPEDOPHILIA IS AN EPIDEMIC IN USA-WORLD: \n\n...
neg                                                       0.0
neu                                                      0.88
pos                                                      0.12
compound                                               0.5707
Name: 0, dtype: object

In [30]:
# Vytvorenie tabule docasnej
drop_query = '''DROP TABLE IF EXISTS tweet_filtered'''

cursor.execute(drop_query)
conn.commit()


temp_table_query = '''Create table tweet_filtered(
id 			varchar(20) PRIMARY KEY,
content 	text,
neg     	numeric(6,4),
neu     	numeric(6,4),
pos     	numeric(6,4),
compound	numeric(6,4)
)'''

cursor.execute(temp_table_query)
conn.commit()

alchemy_conn = create_engine('postgresql://postgres:tuturu123@postgres:5432/pdt2021_tweets')

df.to_sql('tweet_filtered', alchemy_conn, if_exists='replace')

In [12]:
df_list = df.values.tolist()

In [25]:
print(df_list[0][5])

0.5707

In [ ]:
# df.loc[0, 'favorite_count'] = 25
# df.loc[0, 'pos'] = 9 
# print(df.loc[0])

In [ ]:
update_query = """UPDATE tweets_filtered SET id = %s"""

params = config()
# execute the UPDATE  statement
cursor.execute(update_query, (vendor_name, vendor_id))
# get the number of updated rows
updated_rows = cursor.rowcount
# Commit the changes to the database
conn.commit()

In [ ]:
cursor.close()
conn.close()

In [11]:
df.to_sql('tweets_filtered', conn, 'public', 'append')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^

In [ ]:

df_new = pd.read_sql_query('''select * from test_table t limit 10;''', conn)
print(df_new.loc[0])